@font-face {
    font-family:'cronos-pro';
    /* Titiles Safari - Bold Style font*/
    src: url('http://www.tigo.com.gt/fonts/old_fonts/CronosPro-Regular.eot');
    src: local('☺'), url('http://www.tigo.com.gt/fonts/old_fonts/CronosPro-Regular.woff')format('woff'), url('http://www.tigo.com.gt/fonts/old_fonts/CronosPro-Regular.ttf') format('truetype'), url('http://www.tigo.com.gt/fonts/old_fonts/CronosPro-Regular.svg') format('svg');
    font-weight: normal;
    font-family:'cronos-pro';
    font-style: normal;
}
@font-face {
    font-family:'cronommregular';
    /* Text info - Normal style font*/
    src: url('fonts/cronos_regular-webfont-webfont.eot');
    src: url('fonts/cronos_regular-webfont-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/cronos_regular-webfont-webfont.woff') format('woff'), url('fonts/cronos_regular-webfont-webfont.ttf') format('truetype'), url('fonts/cronos_regular-webfont-webfont.svg#cronommregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'cronos_mmregular';
    /* Italic style font*/
    src: url('fonts/cronos_regular_italic-webfont-webfont.eot');
    src: url('fonts/cronos_regular_italic-webfont-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/cronos_regular_italic-webfont-webfont.woff') format('woff'), url('fonts/cronos_regular_italic-webfont-webfont.ttf') format('truetype'), url('Fonts/cronos_regular_italic-webfont-webfont.svg#cronos_mmregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'cronommregular-bold';
    /* Bolder Style font */
    src: url('fonts/cronos_bold-webfont-webfont.eot');
    src: url('fonts/cronos_bold-webfont-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/cronos_bold-webfont-webfont.woff') format('woff'), url('fonts/cronos_bold-webfont-webfont.ttf') format('truetype'), url('Fonts/cronos_bold-webfont-webfont.svg#cronommregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'CronosProLight';
    /* light style font*/
    src: url('fonts/cronospro-lt.eot');
    src: url('fonts/cronospro-lt.eot') format('embedded-opentype'), url('fonts/cronospro-lt.woff2') format('woff2'), url('fonts/cronospro-lt.woff') format('woff'), url('fonts/cronospro-lt.ttf') format('truetype'), url('fonts/cronospro-lt.svg#CronosProLight') format('svg');
}
body {
    font-family:'cronommregular';
    font-size: 1.1em;
    font-style: normal;
}
/* Empty. Add your own CSS if you like */
 .item-button-right > ionic-datepicker, .item-button-right .item-content > ionic-datepicker, .item-button-right > ionic-datepicker, .item-button-right .item-content > .buttons {
    display: flex;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 2px;
    min-width: 34px;
    min-height: 34px;
    font-size: 18px;
    line-height: 32px;
}
ionic-datepicker .button.button-block {
    margin-top: 0px;
    margin-bottom: 0px;
}
.center {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.item-button-right > .button.double-button {
    top: 21px;
}
/*Errores*/
 .error-container {
    margin: 5px 0;
}
.error-container:last-child {
    margin: 5px 0 0;
}
.error {
    padding: 10px 16px;
    font-family:"Arial Black", Gadget, sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    color: #555;
    vertical-align: middle;
}
.error i {
    font-size: 24px;
    color: #B83E2C;
    vertical-align: middle;
}
.last-error-container > .error {
    padding: 10px 16px 0;
}
.has-errors {
    border-bottom: 3px solid #B83E2C;
}
.no-errors {
    border-bottom: 3px solid green;
}
.list-inset .item.item-input input {
    text-align: right;
}
.double-padding {
    padding:20px;
}
.row .col .icon {
    position:relative;
}
.mini-status {
    border: 0px;
    padding-bottom: 8px;
    padding-left: 0px;
}
.mini-status .col {
    padding: 0px;
    max-width: 36px;
    text-align: left;
}
.mini-status .col .icon {
    font-size: 15px;
}
.item-note {
    position: absolute;
    right: 5px;
    bottom: 2px;
    font-size: 12px;
}
.scroll-content {
    background-color: rgb(17, 32, 53);
}
.scroll-bar-indicator {
    background: rgba(44, 147, 24, 0.7) none repeat scroll 0% 0% !important;
}
.bar.bar-royal .title {
    color: #FFF;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.2em;
}
.item-divider span {
    position: absolute;
    right: 16px;
    font-weight: 600;
}
.item-divider {
    font-weight: 600;
}