<ion-modal-view>
    <ion-header-bar class="bar-royal">
        <h1 class="title">Enviar Revisión</h1>
        <div class="buttons">
            <button class="button button-clear button-assertive" ng-click="closeAddReview();"><i class="icon ion-close"></i>
            </button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form name="newReview" novalidate form-manager>
            <div class="list list-inset">
                <label class="item item-input">
                    <span class="input-label">Fecha actual</span>
                    <input type="text" disabled value="{{today | date :  'yyyy-MM-dd'}}">
                </label>
                <label class="item item-input item-select" ng-class="{ 'has-errors' : newReview.control.$invalid, 'no-errors' : newReview.control.$valid}">
                    <div class="input-label">
                        Control
                    </div>
                    <select name="control" ng-model="review.control" required ng-minlength="2">
                        <option selected></option>
                        <option ng-repeat="control in myControls">{{control}}</option>
                    </select>
                </label>
                <div class="item item-input item-button-right" ng-class="{ 'has-errors' : newReview.reviewDate.$invalid, 'no-errors' : newReview.reviewDate.$valid}">
                    <span class="input-label">Fecha</span>
                    <input name="reviewDate" ng-model="review.reviewDate" required type="date" required ng-minlength="3" value="{{review.reviewDate | date :  'yyyy-MM-dd'}}">

                    <ionic-datepicker input-obj="datepickerObject">
                        <button class="button-icon icon ion-calendar positive">
                        </button>
                    </ionic-datepicker>
                </div>

                <label class="item item-input item-select" ng-class="{ 'has-errors' : newReview.part.$invalid, 'no-errors' : newReview.part.$valid}">
                    <div class="input-label">
                        Parte
                    </div>
                    <select name="part" ng-model="review.part" required ng-minlength="3">
                        <option selected></option>
                        <option>A</option>
                        <option>B</option>
                        <option>C</option>
                        <option>D</option>
                        <option>E</option>
                    </select>
                </label>
                <ion-toggle ng-model="review.issue" toggle-class="toggle-assertive">Incidente</ion-toggle>
                <label class="item item-input" ng-if="review.issue">
                    <textarea ng-model="review.remarks" placeholder="Comentarios del incidente" rows="4"></textarea>
                </label>
            </div>


            <div class="center">
                <button class="button button-outline icon-right ion-paper-airplane button-balanced" ng-disabled="newReview.$invalid" ng-click="pushReview()">Enviar</button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>