<ion-view title="Configura para Iniciar">
    <ion-header-bar>

        <div class="buttons">
            <button class="button button-clear button-assertive" ng-click="closeAddReview();"><i class="icon ion-close"></i>
            </button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <span class="input-label" disable>Usuario</span>
                <input type="text" ng-model="settings.user">
            </label>
            <ion-toggle ng-model="settings.admin">
                Admin
            </ion-toggle>
            <label ng-if="settings.admin" class="item item-input">
                <span class="input-label" disable>Password</span>
                <input type="password" ng-model="settings.pass">
            </label>
        </div>

        <div class="list list-inset">
            <div class="item item-divider item-positive">
                Mis Controles
            </div>
            <div ng-repeat="control in controls">
                <!--input type="checkbox"  data-checklist-model="settings.controls" data-checklist-value="control.$id">{{control.$id}} -->
                <ion-checkbox data-checklist-model="settings.controls" data-checklist-value="control.$id">{{control.$id}}</ion-checkbox>
            </div>

        </div>

        <div class="list list-inset" ng-if="errors.length > 0">

            <a class="item item-icon-left" ng-repeat="error in errors">
                <i class="icon ion-close-circled assertive"></i>
                {{error}}
            </a>
        </div>
        <div class="row">
            <div class="col center">
                <button class="button button-clear button-outline icon-right ion-trash-a button-assertive" ng-disabled="newReview.$invalid" ng-click="clear();">Limpiar</button>
            </div>
            <div class="col center">
                <button class="button button-outline icon-right ion-checkmark button-balanced" ng-disabled="newReview.$invalid" ng-click="start();">Guardar</button>
            </div>

        </div>
        
    </ion-content>
    <!--ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text" ng-model="user.username">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="user.password">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="doLogin()">
                Sign-In
            </button>
            <button class="button button-block button-positive" ng-click="doLogout()">
                Logout
            </button>
            <button class="button button-block button-positive" ng-click="check()">
                check
            </button>
            <button class="button button-block button-positive" ui-sref="tab.review">
                Go
            </button>
            <p>Hello {{authData.facebook.displayName}}!</p>
            <p class="text-center">
                <a href="#/forgot-password">Forgot password</a>
            </p>
        </div>
    </ion-content-->
</ion-view>