<ion-modal-view>
    <ion-header-bar class="bar-calm">
        <h1 class="title">Detalle de Revisión</h1>
        <div class="buttons">
            <button class="button button-clear button-assertive" ng-click="closeReviewDetail();"><i class="icon ion-close"></i>
            </button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form name="newReview" novalidate form-manager>
            <div class="list list-inset">
                <div class="item item-divider item-calm">
                    Descripción de Entrega
                </div>
                <label class="item item-input">
                    <span class="input-label">Usuario</span>
                    <input type="text" disabled value="{{activeItem.user}}">
                </label>
                <label class="item item-input">
                    <span class="input-label">Fecha entrega</span>
                    <input type="text" disabled value="{{activeItem.timestamp | date :  'yyyy-MM-dd'}}">
                </label>
                <label class="item item-input">
                    <span class="input-label">Hora entrega</span>
                    <input type="text" disabled value="{{activeItem.timestamp | date :  'h:mm:ss a'}}">
                </label>
                <label class="item item-input">
                    <span class="input-label">Aprobación</span>
                    <input type="text" disabled value="{{activeItem.checkDate | date :  'yyyy-MM-dd h:mm:ss a'}}">
                </label>
            </div>
            <div class="list list-inset">
                <div class="item item-divider item-calm">
                    Descripción de Control
                </div>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Control
                    </div>
                    <input type="text" disabled value="{{activeItem.control}}">
                </label>
                <div class="item item-input item-button-right">
                    <span class="input-label">Fecha</span>
                    <input name="reviewDate" disabled type="date" required ng-minlength="3" value="{{activeItem.reviewDate | date :  'yyyy-MM-dd'}}">
                </div>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Parte
                    </div>
                    <input type="text" disabled value="{{activeItem.part}}">
                </label>
                <ion-toggle ng-model="activeItem.issue" toggle-class="toggle-assertive">Incidente</ion-toggle>
                <label class="item item-input" ng-if="activeItem.issue">
                    <textarea disabled placeholder="Comentarios del incidente" rows="8">{{activeItem.remarks}}</textarea>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>