<ion-view view-title="Revisiones">
    <ion-content class="">
        <div class="double-padding">
            <div class="padding center">
                <button class="button button-positive" ng-click="openAddReview()">
                    <i class="icon ion-plus"></i>
                </button>
            </div>
        </div>
        <ion-list>
            <div class="item item-divider item-positive">
                Revisiones recientes
            </div>
            <ion-item collection-repeat="item in reviews" item-height="getItemHeight(item)" item-width ="100%" class="item ">
                <!--i ng-class="item.issue ? 'icon ion-alert-circled assertive' : 'icon ion-star balanced'"></i-->
                <h2>{{item.control}}: {{item.reviewDate | date : 'yyyy-MM-dd'}} - {{item.part}}</h2>
                <p>Usuario: {{item.user}}</p>
                <p ng-if="item.remarks" style="background-color: #f1f1f1">{{item.remarks}}</p>
                <ion-item class="row mini-status">
                    <div class="col" ng-if="item.issue">
                        <i class="icon ion-alert-circled assertive"></i>
                    </div>
                    <div class="col" ng-if="item.issueStatus==2">
                        <i class="icon ion-star balanced"></i>
                    </div>
                    <div class="col" ng-if="item.state == 0">
                        <i class="icon ion-android-done energized"></i>
                    </div>
                    <div class="col" ng-if="item.state == 1">
                        <i class="icon ion-android-done-all balanced"></i>
                    </div>
                    
                    <div class="col" >
                        <span class="item-note ">{{item.timestamp | date : 'yyyy-MM-dd h:mm a'}}</span>
                    </div>
                </ion-item>
                <!--button class="button double-button button-positive" ng-click="openReviewDetail();">
                    <i class="icon ion-android-more-vertical"></i>
                </button-->
                <ion-option-button class="button-calm" ng-click="openReviewDetail(item)"><i class="icon ion-eye"></i></ion-option-button>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
