
<ion-view view-title="Incidencias">
    <ion-content>
        <ion-list>
            <div class="item item-divider item-assertive">
                Incidencias recientes<span>({{issues.length}})</span>
            </div>
            <ion-item collection-repeat="item in issues" item-height="115" item-width ="100%" class="item ">
                <h2>{{item.control}}: {{item.reviewDate | date : 'yyyy-MM-dd'}} - {{item.part}}</h2>
                <p>Usuario: {{item.user}}</p>
                <p ng-if="item.remarks" style="background-color: #f1f1f1;">{{item.remarks}}</p>
                <ion-item class="row mini-status">
                    <div class="col" ng-if="item.issue">
                        <i class="icon ion-alert-circled assertive"></i>
                    </div>
                    <div class="col" ng-if="item.issueStatus==2">
                        <i class="icon ion-star balanced"></i>
                    </div>
                    <div class="col" ng-if="item.state == 0">
                        <i class="icon ion-android-done energized"></i>
                    </div>
                    <div class="col" ng-if="item.state == 1">
                        <i class="icon ion-android-done-all balanced"></i>
                    </div>
                    
                    <div class="col" >
                        <span class="item-note ">{{item.timestamp | date : 'yyyy-MM-dd h:mm a'}}</span>
                    </div>
                </ion-item>
                <ion-option-button class="button-calm" ng-click="openReviewDetail(item)"><i class="icon ion-eye"></i></ion-option-button>
                <ion-option-button class="button-balanced" ng-click="fix(item.$id)"><i class="icon ion-star"></i></ion-option-button>
            </ion-item>

        </ion-list>

    </ion-content>
</ion-view>
