<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<div class=" tabs-top  ">
    <ion-tabs class="tabs-icon-top tabs-striped tabs-background-royal tabs-color-light tabs-color-active-positive">
        <!-- Account Tab -->
        <ion-tab title="Account" icon="ion-settings" href="#/tab/account">
            <ion-nav-view name="tab-account"></ion-nav-view>
        </ion-tab>
        <ion-tab ng-if="logged" title="Revisiones" icon-off="ion-document" icon-on="ion-document-text positive" href="#/tab/review">
            <ion-nav-view name="tab-review"></ion-nav-view>
        </ion-tab>
        <ion-tab ng-if="logged" title="Incidencias" icon-off="ion-alert-circled" icon-on="ion-alert-circled assertive" href="#/tab/issues">
            <ion-nav-view name="tab-issues"></ion-nav-view>
        </ion-tab>
        <ion-tab ng-if="logged" title="Soluciones" icon-off="ion-star" icon-on="ion-star balanced" href="#/tab/fixes">
            <ion-nav-view name="tab-fixes"></ion-nav-view>
        </ion-tab>
        <ion-tab ng-if="logged" title="Pendientes" icon-off="ion-android-done" icon-on="ion-android-done energized" href="#/tab/pending" class="tab-energized">
            <ion-nav-view name="tab-pending"></ion-nav-view>
        </ion-tab>
        <ion-tab ng-if="logged" title="Revisados" icon-off="ion-android-done-all" icon-on="ion-android-done-all balanced" href="#/tab/checked" class="tab-balanced">
            <ion-nav-view name="tab-checked"></ion-nav-view>
        </ion-tab>





    </ion-tabs>
